table {
  width: 100%;
}
button{
  margin: 5px;
}
mat-form-field{
  margin: 5px;
}
div{
  margin: 5px;
}
h2{
  margin: 5px;
}
.detail-view{
  margin-bottom: 10px;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}

